<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

<script src="/static/external/jquery/jquery.js"></script>
<script src="/static/external/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/external/bootstrap/js/bootstrap3-typeahead.min.js"></script>

	<script src="/static/jquery-ui.js"></script>
	<script src="/static/notifications.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="/static/jquery.timepicker.css" />
	<script src="/static/jquery.timepicker.min.js"></script>
<style type=text/css>
	body {
		padding-top:60px;
		padding-bottom:60px;
	}
	.contact_email{
		display:inline;
		clear:left;
	}
	.btn_del_contact {
		clear:left;
	
	}
	
	#MWContextMenu {
		z-index:1050;
		position:absolute;
		display:none;
	}
	
	#OutageContextMenu {
		z-index:1050;
		position:absolute;
		display:none;
	}
	
	#NotificationContextMenu {
		position:absolute;
		display:none;
	}
		#div_filter{
	position:relative;
	float:left;
	margin-left:0px;
	}
	
	</style>
	
	


    <title>RNR Application</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/external/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/static/external/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">

	<link href="/static/bootstrap_custom.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
    <body role="document">

    <!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">RNR Application</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/rnr">RNR Application</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/rnr">Home</a></li>
            <li><a href="/rnr/works">Works</a></li>
            <li class="active"><a href="/rnr/notifications">Notifications</a></li>
            <li><a href="/rnr/clients">Clients</a></li>
            <li><a href="/rnr/about">About</a></li>
            <li><a href="mailto:alexander.shtyrkov@rt.ru">Contact</a></li>
            
            <!--
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            
            -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Language<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/rnr/set_language?lang=ru">Russian</a></li>
                <li><a href="/rnr/set_language?lang=en">English</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    
    
    <div class="container theme-showcase" role="main">
<p><H1>Notifications management page</H1></p>

<div class="row" id="div_filter">
<form class="form-inline">
<fieldset>
<label class="control-label" for="notification_filter_work_number">Find by work number:</label>
	<input type="text" id="notification_filter_work_number"></input>
<button type="button" class="btn btn-default" id="btn_filter_notifications">Find</button>
</fieldset>
</form>
</div>


<table id="existing_notifications" class="table table-bordered">
<thead>
<tr>
<th>Client Name</th>
<th>Notification state</th>
<th>Notification type</th>
</tr>
</thead>
<tbody>
</tbody>

</table>






<button class="btn btn-primary" data-toggle="modal" data-target="#dlg_add_notification">
Create Notifications
</button>


<!-- Modal add notification -->


<div class="modal fade" id="dlg_add_notification" tabindex="-1" role="dialog" aria-labelledby="dlg_add_notificationLabel" aria-hidden="true">


  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="dlg_add_notificationLabel">Create Notification</h4>
	</div>
	
<div class="modal-body">
<form id=frm_add_notification>
	<fieldset>
	
	<div class="control-group">
		<label class ="control-label" for="work_number">Work number</label>
		<div class="controls">
			<input type="text" name="work_number" id="work_number" class="form-control">
		</div>
	</div>
	
	<div class="control-group">
		<label class ="control-label" for="client_name">Client Name</label>
		<div class="controls">
			<input type="text" name="client_name" id="client_name" class="form-control" data-provide="typeahead">
		</div>
	</div>
	
	<div class="control-group">
		<label class ="control-label" for="notification_type">Notification type</label>
		<div class="controls">
		<select name="notification_type" id="notification_type" class="form-control">
		</select>
		</div>
	</div>
	
		<div class="control-group">
		<label class ="control-label" for="notification_outages">Maintenance windows</label>
		<div class="modal-body">
		<table id="notification_outages" class="table table-bordered">
			<thead>
				<tr>
				<th colspan="2">MWs and outages</th>
				</tr>
			</thead>
		<tbody>
		</tbody>
		</table>
		</div>
		<button type="button" id="create_mw" class="btn btn-primary">Add MW</button>
		</div>
	
	
	<div class="control-group">
		<label class ="control-label" for="notification_subject">Notification Subject</label>
		<div class="controls">
			<input type="text" name="notification_subject" id="notification_subject" class="form-control">
		</div>
	</div>
	
	
	<div class="control-group">
		<label class ="control-label" for="notification_text">Notification text</label>
		<div class="controls">
			<textarea name="notification_text" id="notification_text" class="form-control" rows="10"></textarea>
		</div>
	</div>
		
		<div id="dlg_add_work_errors"></div>
	</fieldset>
</form>
</div>


<div class="modal-footer">
		<button type="button" id="generate_notification" class="btn btn-success">Generate</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="save_notification" class="btn btn-primary">Create</button>
      </div>

</div>
</div>

</div>





<!-- Dialog add MW -->






<div class="modal fade" id="dlg_add_MW" tabindex="-1" role="dialog" aria-labelledby="dlg_add_MWLabel" aria-hidden="true">


  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="dlg_add_MWLabel">Add Maintenance Window</h4>
	</div>
	
<div class="modal-body">
<form id=frm_add_MW>
	<fieldset>
	
	<div class="control-group">
		<label class ="control-label" for="start_date_datepicker">Start date:</label>
		<div class="controls">
		<input type="text" id="start_date_datepicker">
		<input autocomplete="off" id="MW_start_time" class="time ui-timepicker-input" type="text">
		</div>
	</div>

	<div class="control-group">
		<label class ="control-label" for="end_date_datepicker">End date:</label>
		<div class="controls">
		<input type="text" id="end_date_datepicker">
		<input autocomplete="off" id="MW_end_time" class="time ui-timepicker-input" type="text">
		</div>
	</div>
	
	</fieldset>
</form>
</div>


<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="add_MW" class="btn btn-primary">Add</button>
      </div>

</div>
</div>

</div>



<!-- Dialog add Outage -->






<div class="modal fade" id="dlg_add_outage" tabindex="-1" role="dialog" aria-labelledby="dlg_add_outageLabel" aria-hidden="true">


  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="dlg_add_outageLabel">Add Outage to Maintenance Window</h4>
	</div>
	
<div class="modal-body">
<form id=frm_add_outage>
	<fieldset>
	
		<div class="control-group">
		<label class ="control-label" for="outage_type">Outage type</label>
		<div class="controls">
		<select class="form-control" name="outage_type" id="outage_type">
		</select>
		</div>
	</div>

	<div class="control-group">
		<label class ="control-label" for="channel_name">Channel</label>
		<div class="controls">
			<input type="text" name="channel_name" id="channel_name" class="form-control">
		</div>
	</div>
	
	</fieldset>
</form>
</div>


<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="add_outage" class="btn btn-primary">Add</button>
      </div>

</div>
</div>

</div>


<!-- Menu MW-->


<div id="MWContextMenu" class="dropdown clearfix">
<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:relative;margin-bottom:5px;">
<li><a href="#">Delete MW</a></li>
<li><a href="#">Add Outage</a></li>
</ul>
</div>

<!-- Menu Outage-->

<div id="OutageContextMenu" class="dropdown clearfix">
<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:relative;margin-bottom:5px;">
<li><a href="#">Delete Outage</a></li>
</ul>
</div>

<!-- Menu Notification-->

<div id="NotificationContextMenu" class="open clearfix">
<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:relative;margin-bottom:5px;">
<li><a href="#">View Text</a></li>
<li><a href="#">Send</a></li>
<li><a href="#">Delete</a></li>
</ul>
</div>



















<!-- Modal view notification -->


<div class="modal fade" id="dlg_view_notification" tabindex="-1" role="dialog" aria-labelledby="dlg_view_notificationLabel" aria-hidden="true">


  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="dlg_view_notificationLabel">View Notification</h4>
	</div>
	
<div class="modal-body">
<form id=frm_view_notification>
	<fieldset>
	
	<div class="control-group">
		<label class ="control-label" for="dlg_view_notification_subject">Notification subject</label>
		<div class="controls">
			<input type="text" name="dlg_view_notification_subject" id="dlg_view_notification_subject" class="form-control" data-provide="typeahead">
		</div>
	</div>
	
	<div class="control-group">
		<label class ="control-label" for="dlg_view_notification_text">Notification body</label>
		<div class="controls">
			<textarea name="dlg_view_notification_text" id="dlg_view_notification_text" class="form-control" rows="15"></textarea>
		</div>
	</div>
	</fieldset>
</form>
</div>


<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="update_notification" class="btn btn-primary">Update</button>
      </div>

</div>
</div>

</div>





<!-- Div login form -->







</div>
    </body>
    </html>