<!DOCTYPE html>
<html>
<head>
    <title>CSV maker</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/jquery-ui.css" />
    
    <link rel="stylesheet" type="text/css" href="/static/jquery.timepicker.css" />
    
	<script src="/static/external/jquery/jquery.js"></script>
    <script src="/static/jquery-ui.js"></script>
    <script src="/static/clients.js"></script>
    
    <script src="/static/jquery.timepicker.min.js"></script>

</head>
<body>

<div id="clients">
<!--  Load all clients here -->
<table id="existing_clients" class="ui-widget ui-widget-content">
	<thead> 
		<tr class="ui-widget-header ">
			<th>Client name</th>
			<th>Language</th>
			<th>Contacts</th>
		</tr>
	</thead>
<tbody>
</tbody>
</table>


<button id="btn_create_client">Create new user</button>

<!-- add new user dialog  -->
<div id="dlg_add_client">
<p>Please fill forms below:</p>
<form id=frm_add_client>
	<fieldset>
		<label for="client_name">Client Name</label>
		<input type="text" name="client_name" id="client_name" class="text ui-widget-content ui-corner-all">
		<label for="client_language">Language</label>
		<select name="client_language" id="client_language">
			{% for language in language_objects %}
			<option value={{language.slug}}>{{language.language_name}}</option>
			{% endfor %}
		</select> 
		<label for="client_emails">Email list</label>
		<input type="text" name="client_emails" id="client_emails" value="user@host.dom, user2@host.dom" class="text ui-widget-content ui-corner-all">

		<div id="dlg_add_client_errors"></div>
	</fieldset>
</form>
</div>
</div>


<!-- del contact dialog  -->
<div id="dlg_confirm_del_contact" title="Delete this contact?">
	<p>
		<span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
		<span id="del_contact"></span> will be permanently deleted. Are you sure?
	</p>
</div>

<div id="existing_work_types"></div>
<br>
<div id="dlg_add_work">
<p>Please fill forms below:</p>
<form id=frm_add_work>
	<fieldset>
		<label for="work_number">Work Number</label>
		<input type="text" name="work_number" id="work_number" class="text ui-widget-content ui-corner-all">
		<label for="work_type">Work type</label>
		<select name="work_type" id="work_type">
			{% for work_type in work_types %}
			<option value={{work_type.slug}}>{{work_type.worktype_name}}</option>
			{% endfor %}
		</select> 
		<label for="work_circuit">Work Circuit</label>
		<input type="text" name="work_circuit" id="work_circuit" class="text ui-widget-content ui-corner-all">
		
		<label for="start_date_datepicker">Start date:</label>
		<input type="text" id="start_date_datepicker">
		<input autocomplete="off" id="work_start_time" class="time ui-timepicker-input" type="text">
		<label for="end_date_datepicker">End date:</label>
		<input type="text" id="end_date_datepicker">
				<input autocomplete="off" id="work_end_time" class="time ui-timepicker-input" type="text">
				
		<label for="work_definition">Definition</label>
		<input type="text" id="work_definition">
		

		<div id="dlg_add_work_errors"></div>
	</fieldset>
</form>
</div>
<button id="btn_add_work" onclick=Load_btn_del_contact()>Create new work</button>


<div id="existing_works"></div>

</body>
</html>	