<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

<script src="/static/external/jquery/jquery.js"></script>
<script src="/static/external/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/jquery-ui.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="/static/jquery.timepicker.css" />
	<script src="/static/jquery.timepicker.min.js"></script>
<style type=text/css>
	body {
		padding-top:60px;
		padding-bottom:60px;
	}
	.contact_email{
		display:inline;
		clear:left;
	}
	.btn_del_contact {
		clear:left;
	
	}
	
	#WorkContextMenu {
		position:absolute;
		display:none;
	}
	
	.form-inline .control-label{
/* text-align:right; */
text-align:left;
/*background-color:#ffa;*/
}
	.tasker{
	position:absolute;
	right: 500px;
	}
	</style>
	
	
	<script type="text/javascript">
	
	function Load_dlg_add_work(){
		$( "#dlg_add_work" ).dialog({
	        autoOpen: false,
	        height: 450,
	        width: 450,
	        modal: true,
	        buttons: {
	        			"Create Work": function(){CreateWork();},
	        			Cancel: function() {
	        				$(this).dialog("close");
	        				$('#frm_add_work').trigger("reset");
	        				$("#dlg_add_work_errors").html("");
	        				}
	         		},
	         title: "Add new Work",
	        });
	};
	
	
	function get_worktypes_all_json() {
		//client_language
		$('#work_type option').remove();
		
		$.getJSON( "/rnr/get_worktypes_all_json", function(data) {
			$.each( data, function( index, element ) {
				$("#work_type").append("<option value=" + element.worktype__slug + ">" + element.worktypedesc + "</option>");
			});
		});
		
	};
	
	function set_language(lang){
		//alert(lang);
		$.getJSON( "/rnr/set_language", {"lang":lang}).done(function(data){
				alert(data);
				location.reload(false);
			});
		
		
	}
	
	function get_locations_all_json() {
		//client_language
		$('#work_location option').remove();
		
		$.getJSON( "/rnr/get_locations_all_json", function(data) {
			$.each( data, function( index, element ) {
				$("#work_location").append("<option value=" + element.worklocation__slug + ">" + element.worklocdesc + "</option>");
			});
		});
		
	};
	
	
	function get_regions(){
		
		var location_slug = $("#work_location option:selected").attr("value");
		$("#work_region").html("");
		
		$.getJSON( "/rnr/get_regions_json", {"location_slug":location_slug} , function(data){
			$.each(data, function(index, element){
				$("#work_region").append("<option value=" + element.workregion__slug + ">" + element.workregdesc + "</option>")
			});
		}).done(function(){
			$("#work_region").prop("selectedIndex",-1);
		});
		
	};
	
	function LoadWorks() {
		//Clear existing data
		$('#existing_works tbody > tr').remove();
		//Get data from server in json
		
		var work_filter_pending = $("#work_filter_pending").prop('checked');
		var work_filter_upcoming = $("#work_filter_upcoming").prop('checked');
		var work_filter_completed = $("#work_filter_completed").prop('checked');
		var work_filter_number = $("#work_filter_number").val();
		//alert(work_filter_number);
		
		$.getJSON( "/rnr/get_works_json", {"work_filter_pending":work_filter_pending, "work_filter_upcoming":work_filter_upcoming, "work_filter_completed":work_filter_completed, "work_filter_number":work_filter_number}, function(data) {
			$.each( data, function( index, element ){
				var items = [];
				var row = ""
				//success, error, warning, info
				
				cls_work_status = ""
				switch (element.work_state){
				case "Upcoming":
					cls_work_status = 'class="success tr_work"'
					break;
				case "Pending":
					cls_work_status = 'class="warning tr_work"'
					break;
				case "Completed":
					cls_work_status = 'class="info tr_work"'
					break;
				case "Canceled":
					cls_work_status = 'class="error tr_work"'
					break;
				}
				//' class="tr_notification" data-toggle="context" data-target="#WorkContextMenu">'
				row =row.concat("<tr id=" +  element.slug + " " + cls_work_status + 'data-toggle="context" data-target="#WorkContextMenu">');
				row =row.concat("<td>");
				row =row.concat(element.work_number);
				
/*				btn_string='<div class="btn-group">\
<button id="sample_slug" class="btn btn-small dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>\
<ul class="dropdown-menu">\
<li><a href="#">View all notifications</a></li>\
<li><a href="#">Add Notification</a></li>\
<li><a href="#">Lets the Spam Begins!</a></li>\
<li><a href="#">Cancel Work</a></li>\
<li class="divider"></li>\
<li><a href="#">Delete Work</a></li>\
</ul>\
</div>'
				
				row =row.concat(btn_string) */
				if (element.init_notifications != "0"){
					row = row.concat('<a href="/rnr/notifications/?work_slug=' + element.slug + '&notification_type=notification&notification_state=init' + '"><span class="badge init_notifications">' + element.init_notifications +'</span></a>')
				};
				
				if (element.sent_notifications != "0"){
					row = row.concat('<a href="/rnr/notifications/?work_slug=' + element.slug + '&notification_type=notification&notification_state=sent' + '"><span class="badge sent_notifications">' + element.sent_notifications +'</span></a>')
				};
				
				if (element.sent_error_notifications != "0"){
					row = row.concat('<a href="/rnr/notifications/?work_slug=' + element.slug + '&notification_type=notification&notification_state=sent_error' + '"><span class="badge sent_error_notifications">'  + element.sent_error_notifications +'</span></a>')
				};
				
				
				if (element.init_cancel_notifications != "0"){
					row = row.concat('<a href="/rnr/notifications/?work_slug=' + element.slug + '&notification_type=cancel&notification_state=init' + '"><span class="badge init_cancel_notifications">' + element.init_cancel_notifications +'</span></a>')
				};
				
				if (element.sent_cancel_notifications != "0"){
					row = row.concat('<a href="/rnr/notifications/?work_slug=' + element.slug + '&notification_type=cancel&notification_state=sent' + '"><span class="badge sent_cancel_notifications">' + element.sent_cancel_notifications +'</span></a>')
				};
				
				if (element.sent_error_cancel_notifications != "0"){
					row = row.concat('<a href="/rnr/notifications/?work_slug=' + element.slug + '&notification_type=cancel&notification_state=sent_error' + '"><span class="badge sent_error_cancel_notifications">' + element.sent_error_cancel_notifications +'</span></a>')
				};
				
				row =row.concat("</td>");
				row =row.concat("<td>");
				row =row.concat(element.work_type);
				row =row.concat("</td>");
				
				row =row.concat("<td>");
				row =row.concat(element.work_circuit);
				row =row.concat("</td>");
				
				row =row.concat("<td>");
				row =row.concat(element.work_start_date);
				row =row.concat("</td>");
				
				
				row =row.concat("<td>");
				row =row.concat(element.work_end_date);
				row =row.concat("</td>");
				
				row =row.concat("<td>");
				row =row.concat(element.work_region);
				row =row.concat("</td>");
				
				row =row.concat("</tr>");
				
				$('#existing_works tbody').append(row);
			});
			//$( ".work" ).click(function() {
			//	LoadNotifications($(this).attr("id"));
			//	});
			});

	};
	
	function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
};

function setFilterFlags(){
	var c = getCookie("filter_works")
	
	if (c != null){
		c=c.replace(/\\054/g, ',');
		var n = JSON.parse(c);
		n = JSON.parse(n);
		$("#work_filter_number").val(n.work_filter_number);
		$("#work_filter_upcoming").prop('checked', n.work_filter_upcoming==='true');
		$("#work_filter_pending").prop('checked', n.work_filter_pending==='true');
		$("#work_filter_completed").prop('checked', n.work_filter_completed==='true');
		
		//alert ("blah " + n.work_filter_completed);
	}
	else {
		$("#work_filter_pending").prop('checked', true);
		$("#work_filter_upcoming").prop('checked', true);
		
	}
};
	
	
	function CreateWork(){
		
		var work_number = $( "#work_number" ).val();
		var work_type = $( "#work_type" ).val();
		var work_circuit = $( "#work_circuit" ).val();
		
		var work_start_datetime = $('#start_date_datepicker').val() + " " + $('#work_start_time').val();
		var work_end_datetime = $('#end_date_datepicker').val() + " " + $('#work_end_time').val();
		var work_region = $( "#work_region" ).val();
		
		var posting = $.post( "/rnr/add_new_work", {
			ajax: "true",
			"work_number": work_number,
			"work_type" : work_type,
			"work_circuit":work_circuit,
			"work_start_datetime" : work_start_datetime,
			"work_end_datetime":work_end_datetime,
			"work_region":work_region,
			'csrfmiddlewaretoken':getCookie('csrftoken'),
		});
		// Put the results in a div
		posting.done(function( data ) {
			//alert(data);
			if (data === "OK"){
			//	$("#dlg_add_work").html("");
			//	$('#frm_add_work').trigger("reset");
			//	$('#dlg_add_work').dialog("close");
				//LoadClients();
			$("#dlg_add_work").modal('hide');
			LoadWorks();
			}
			else{
				$("#dlg_add_work_errors").html(data);
			};	
		});
	};
	
	
	
	
	function init_work_menu(){
		
			  var $WorkContextMenu = $("#WorkContextMenu");
			  $WorkContextMenu.hide();
			  $("body").on("contextmenu", "#existing_works tr.tr_work", function(e) {
				  //alert(e.pageX);
				var obj = $(this).closest("tr.tr_work");
				work_slug = obj.attr("id");
				obj.css("font-weight","Bold");
				
				$("#WorkContextMenu ul li a").eq(0).attr("href","/rnr/notifications/?work_slug="+work_slug);
				$("#WorkContextMenu ul li a").eq(1).attr("href","/rnr/notifications/?work_slug="+work_slug+"&create_notification=yes");
				
				$WorkContextMenu.css({
				      display: "block",
				      left: e.pageX,
				      top: e.pageY
				   });
				
			    return false;
			  });
			  
				$WorkContextMenu.on("click", "li", function() {
					
					if ($(this).index()===2){
						//view_notification(selected_notification.attr("id"));
						//alert("menu 3 selected");
						
						$("#dlg_send_messages").modal('show');
						
						
						
						
						
					  }
					  else if ($(this).index()===3){
						  gen_cancel(work_slug);
						  
						  //alert("menu 4 selected. Not implemented yet");
						  
						  
						  
						  
						  //var send_notif_error = $("#send_error_messages").prop('checked');
							//alert (send_notif_error);
						  
							
							//alert("send");
						  
					  }
					  else if ($(this).index()===5){
						  //alert("menu 5 selected");
						  delete_work(work_slug);
					  }
				   $WorkContextMenu.hide();
				});
			  
			  
			  $WorkContextMenu.on("click", "a", function() {
				  //alert($(this).html());
			     $WorkContextMenu.hide();
			     $(this).closest("tr.tr_work").css("font-weight","normal");
			  });
			  
			  
			  
			  $("body").on("click", function(){
				  $WorkContextMenu.hide();
				$("#existing_works tr").css("font-weight","normal")  
			  });
			  
	};
	
	
	function gen_cancel(work_slug){
		$.post("/rnr/gen_cancel", {
			ajax: "true",
			"work_slug": work_slug
		}).error(function(error){
			alert(error.status);
		}).done(function(){
			//alert("complete");
			LoadWorks();
		});
	}
	
	function send_notifications(work_slug){
		
		var send_notif_error = $("#send_error_messages").prop('checked');
		var send_notif_init = $("#send_error_messages").prop('checked');
		var send_notif_sent = $("#send_error_messages").prop('checked');
		
		var send_cancel_error = $("#send_error_messages").prop('checked');
		var send_cancel_init = $("#send_error_messages").prop('checked');
		var send_cancel_sent = $("#send_error_messages").prop('checked');
		
		
		$.post( "/rnr/send_all_notifications", {
			ajax: "true",
			"send_notif_error":send_notif_error,
			"send_notif_init":send_notif_init,
			"send_notif_sent":send_notif_sent,
			"send_cancel_error":send_cancel_error,
			"send_cancel_init":send_cancel_init,
			"send_cancel_sent":send_cancel_sent,
			
			"work_slug": work_slug,
			'csrfmiddlewaretoken':getCookie('csrftoken'),
		},"json").error(function(error){
			alert("error" + error.status)
		}).done(function(){
			LoadWorks();
		});
		
	};
	
	function delete_work(work_slug){
		$.post( "/rnr/delete_work", {
			ajax: "true",
			"work_slug": work_slug,
			'csrfmiddlewaretoken':getCookie('csrftoken'),
		},"json").error(function(error){
			alert("error" + error.status)
		}).done(function(){
			LoadWorks();
		});
		
	};
	
	
	$(document).ready(function(){
		//Load_dlg_add_work();
		setFilterFlags();
		$("#WorkContextMenu").contextmenu();
		init_work_menu();
		get_worktypes_all_json();
		get_locations_all_json();
		LoadWorks();
		//Load_dlg_del_contact();
		$( "#create_work" ).click(function() {
			CreateWork();
		});
		//LoadClients();
		//get_languages_all_json();
		 $( "#start_date_datepicker" ).datepicker({
		 showButtonPanel: true
		 });
		 //$( "#work_filter_number" ).datepicker({
		//	 showButtonPanel: true,
		//	 dateFormat:'yy-mm-dd'
		//	 });
	 $( "#end_date_datepicker" ).datepicker({
		 showButtonPanel: true
		 });
		 $('#work_start_time').timepicker({ 'timeFormat': 'H:i' });
		 $('#work_end_time').timepicker({ 'timeFormat': 'H:i' });
	
		 $("#work_location").prop("selectedIndex",-1);
		$("#work_region").prop("selectedIndex",-1);
			
		$('#work_location').change(function(){
			get_regions();
		});
		$('#btn_do_spam').click(function(){
			send_notifications(work_slug);
		});
		
		//$('#change_lang_ru').click(function(){
		//	set_language("ru");
		//	});
		
		//$('#change_lang_en').click(function(){
		//	set_language("en");
		//	});
		
		
		
		//var work_filter_pending = $("#work_filter_pending").prop('checked');
		//var work_filter_upcoming = $("#work_filter_upcoming").prop('checked');
		//var work_filter_completed = $("#work_filter_completed").prop('checked');
		
		
		//$('#work_filter_pending').on("click", LoadWorks);
		//$('#work_filter_upcoming').on("click", LoadWorks);
		$('#btn_filter_works').on("click", LoadWorks);
		
		
		
		$( '#frm_load_file' )
		  .submit( function( e ) {
			  e.preventDefault();
			  $("#file_parse_errors").html("");
			  $("#file_parse_errors").html("");
			  
			  $("#btn_load_file_subm").prop('disabled',true);
			  /*var frmdata = new FormData(this);
			  
			  var posting = $.post( "/rnr/load_works", {
					ajax: "true",
					data: frmdata,
				},"json");
			  posting.done(function( data ) {
					alert(data);
			  });
			  */
			  
		    $.ajax( {
		      url: '/rnr/load_works',
		      type: 'POST',
		      data: new FormData( this ),
		      processData: false,
		      contentType: false
		    },"json").done(function(data){
		    	
		    	var k = jQuery.parseJSON(data);
		    	if (k.success===true){
		    		//alert("success");
		    		$("#dlg_load_file").modal("hide");
		    		LoadWorks();
		    	}
		    	else{
		    		$("#file_parse_errors").html(k.error);
		    		//alert(k.error);
		    	}
		    	$("#btn_load_file_subm").prop('disabled',false);
		    });
		    e.preventDefault();
		  } ); 
		
		
		
		
	});
	
	
	</script>


    <title>RNR Application</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/external/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/static/external/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">

	<link href="/static/bootstrap_custom.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
    <body role="document">

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">RNR Application</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/rnr">RNR Application</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/rnr">Home</a></li>
            <li class="active"><a href="/rnr/works">Works</a></li>
            <li><a href="/rnr/notifications">Notifications</a></li>
            <li><a href="/rnr/clients">Clients</a></li>
            <li><a href="/rnr/about">About</a></li>
            <li><a href="mailto:alexander.shtyrkov@rt.ru">Contact</a></li>
            
            <!--
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            
            -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Language<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/rnr/set_language?lang=ru">Russian</a></li>
                <li><a href="/rnr/set_language?lang=en">English</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    
    
    <div class="container theme-showcase" role="main">
<p><H1>Work's management page</H1></p>


<div class="tasker">
<table border="1">
<tr>
	<td>
	Total works
	</td>
	
	<td>
	stat
	</td>
</tr>
<tr>
	<td>
	Total filtered
	</td>
	
	<td>
	stat
	</td>
</tr>

<tr>
	<td>
	Current task
	</td>
	<td>
	state
	</td>
</tr>

</table>
</div>

<div class="row">
<form class="form-inline">
Work filter:
<fieldset>

<label class="control-label" for="work_filter_number">Number:</label>
	<input type="text" id="work_filter_number"></input>
<label class="checkbox">
	<input type="checkbox" name="work_filter_upcoming" id="work_filter_upcoming">Upcoming</input>
</label>
<label class="checkbox">
	<input type="checkbox" name="work_filter_pending" id="work_filter_pending">Pending</input>
</label>
<label class="checkbox">
	<input type="checkbox" name="work_filter_completed" id="work_filter_completed">Past</input>
</label>



<button type="button" class="btn btn-default" id="btn_filter_works">Filter</button>
</fieldset>
</form>
</div>



<br>
<table id="existing_works" class="table table-bordered">
<thead>
<tr>
<th>Work Number</th>
<th>Work Info</th>
<th>Work Channels</th>
<th>Start date</th>
<th>End date</th>
<th>Region</th>
</tr>
</thead>
<tbody>
</tbody>

</table>





<!-- Button trigger modal -->
<button class="btn btn-primary" data-toggle="modal" data-target="#dlg_add_work">
Create Work
</button>

<button class="btn btn-primary" data-toggle="modal" data-target="#dlg_load_file">
Upload file
</button>
<!--Modal create work-->


<div class="modal fade" id="dlg_add_work" tabindex="-1" role="dialog" aria-labelledby="dlg_add_workLabel" aria-hidden="true">


  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="dlg_add_workLabel">Create Work</h4>
	</div>
	
<div class="modal-body">
<form id=frm_add_work>
	<fieldset>
	
	<div class="control-group">
		<label class ="control-label" for="work_number">Work Number</label>
		<div class="controls">
			<input type="text" name="work_number" id="work_number" class="form-control">
		</div>
	</div>
	
	<div class="control-group">
		<label class ="control-label" for="work_type">Work type</label>
		<div class="controls">
		<select class="form-control" name="work_type" id="work_type">
		</select> 
		</div>
	</div>

	<div class="control-group">
		<label class ="control-label" for="work_circuit">Work Circuit</label>
		<div class="controls">
			<input type="text" name="work_circuit" id="work_circuit" class="form-control">
		</div>
	</div>
	
	<div class="control-group">
		<label class ="control-label" for="start_date_datepicker">Start date:</label>
		<div class="controls">
		<input type="text" id="start_date_datepicker">
		<input autocomplete="off" id="work_start_time" class="time ui-timepicker-input" type="text">
		</div>
	</div>

	<div class="control-group">
		<label class ="control-label" for="end_date_datepicker">End date:</label>
		<div class="controls">
		<input type="text" id="end_date_datepicker">
		<input autocomplete="off" id="work_end_time" class="time ui-timepicker-input" type="text">
		</div>
	</div>
	
	<div class="control-group">
		<label class ="control-label" for="work_location">Work Location:</label>
		<div class="controls">
		<select name="work_location" id="work_location" class="form-control">
		</select>
		</div>
	</div>
	
	<div class="control-group">
		<label class ="control-label" for="work_region">Work region:</label>
		<div class="controls">
		<select name="work_region" id="work_region" class="form-control">
		</select>
		</div>
	</div>
		
		<div id="dlg_add_work_errors"></div>
	</fieldset>
</form>
</div>


<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="create_work" class="btn btn-primary">Create</button>
      </div>

</div>
</div>

</div>






<!-- load file dialog -->



<div class="modal fade" id="dlg_load_file" tabindex="-1" role="dialog" aria-labelledby="dlg_load_fileLabel" aria-hidden="true">


  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="dlg_load_fileLabel">Load works from file</h4>
	</div>
	
<div class="modal-body">
<h3><p>Options</p></h3>
<form id=frm_load_file enctype="multipart/form-data" method="post" action="/rnr/load_works">
	<fieldset>
	
	<p>Parse file options:</p>
	<div class="radio">
	<label>
		<input type="radio" name="FileParseOpts" id="FileParseOpts1" value="CreateNotifications" checked>
		Generate Notifications automatically
	</label>
	</div>

	<div class="radio">
	<label>
		<input type="radio" name="FileParseOpts" id="FileParseOpts2" value="CreateWorksOnly">
		Only create works (notifications are manually added later)
	</label>
	</div>
	
	<div class="radio">
	<label>
		<input type="radio" name="FileParseOpts" id="FileParseOpts3" value="CheckErrors">
		Only parse file and check errors
	</label>
	</div>

	<p>If same work found in file:</p>
	<div class="radio">
	<label>
		<input type="radio" name="ExstWorkOpts" id="ExstWorkOpts1" value="ReplaceOld" checked>
		Replace old with new (all notifications will be lost!)
	</label>
	</div>

	<div class="radio">
	<label>
		<input type="radio" name="ExstWorkOpts" id="ExstWorkOpts2" value="MergeNotifications">
		Merge old with new (add non-existing notifications)
	</label>
	</div>
	
	<div class="radio">
	<label>
		<input type="radio" name="ExstWorkOpts" id="ExstWorkOpts3" value="IgnoreNew">
		Ignore new.
	</label>
	</div>
	
	
	<div class="control-group">
	<label class ="control-label" for="time_format">Time format in notifications:</label>
	<div class="controls">
		<select name="time_format" id="time_format" class="form-control" disabled>
			<option>UTC</option>
			<option>GMT</option>
		</select>
		</div>
	</div>
	
	
		<div class="control-group">
		<label class ="control-label" for="input_file">Input file</label>
		<div class="controls">
			<input type="file" name="input_file" id="input_file" class="form-control">
		</div>
	</div>
	
	</fieldset>
	<br>
	<div id=work_progress_state class="bg_success">
	</div>
	<br>
	<div id=file_parse_errors class="bg-danger"></div>
	<button type="submit" id="btn_load_file_subm" class="btn btn-primary">Submit</button>
</form>
</div>


<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

</div>
</div>

</div>




<!-- Spam dialog  -->




<div class="modal fade" id="dlg_send_messages" tabindex="-1" role="dialog" aria-labelledby="dlg_send_messagesLabel" aria-hidden="true">


  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="dlg_load_fileLabel">Choose messages</h4>
	</div>
	
<div class="modal-body">
<form>

<div class="control-group">
<label class="control-label" for="send_error_messages">
	<input type="checkbox" name="send_error_messages" id="send_error_messages" checked>Send errored notifications</input>
</label>
</div>

<div class="control-group">
<label class="control-label" for="send_init_messages">
	<input type="checkbox" name="send_init_messages" id="send_init_messages" checked>Send composed notifications</input>
</label>
</div>

<div class="control-group">
<label class="control-label" for="send_sent_messages">
	<input type="checkbox" name="send_sent_messages" id="send_sent_messages" checked>Send sent notifications</input>
</label>
</div>

<div class="control-group">
<label class="control-label" for="send_error_cancel">
	<input type="checkbox" name="send_error_cancel" id="send_error_cancel" checked>Send errored cancel</input>
</label>
</div>

<div class="control-group">
<label class="control-label" for="send_init_cancel">
	<input type="checkbox" name="send_init_cancel" id="send_init_cancel" checked>Send composed cancel</input>
</label>
</div>

<div class="control-group">
<label class="control-label" for="send_sent_cancel">
	<input type="checkbox" name="send_sent_cancel" id="send_sent_cancel" checked>Send sent cancel</input>
</label>
</div>
	<button type="submit" class="btn btn-primary" id="btn_do_spam">Do Spam</button>
</form>
</div>


<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

</div>
</div>

</div>







<!-- Menu works -->

<div id="WorkContextMenu" class="dropdown clearfix">
<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:relative;margin-bottom:5px;"">
	<li><a href="#">View all notifications</a></li>
	<li><a href="#">Add Notification</a></li>
	<li><a href="#">Lets the Spam Begins!</a></li>
	<li><a href="#">Cancel Work</a></li>
	<li class="divider"></li>
	<li><a href="#">Delete Work</a></li>
</ul>
</div>


</div>
    </body>
    </html>