 body {
		font: 72.5% "Trebuchet MS", sans-serif;
		margin: 50px;
}

ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
}
	
select {
		width: 160px;
}
	

.container{
    width: 600px;
}

.panel{
    height: 400px;
    overflow: auto;
}

label {

	color:#0073EA;
	font-family:"Arial";
	font-style:normal;
	margin: 2px 2px 2px 2px;
	padding: 2px 2px 2px 2px;
}

input {
	margin: 2px 0px 2px 0px;
}

.email {
	border: 2px;
	border-style: solid;
	margin: 2px 2px 2px 2px;
	padding: 2px 2px 2px 2px;
	display: inline-block;
	
}