 body {
		font: 72.5% "Trebuchet MS", sans-serif;
		margin: 50px;
}

ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
}
	
select {
		width: 160px;
}
	

.container{
    width: 600px;
}

.panel{
    height: 400px;
    overflow: auto;
}

label {

	color:#0073EA;
	font-family:"Arial";
	font-style:normal;
	margin: 2px 2px 2px 2px;
	padding: 2px 2px 2px 2px;
}

input {
	margin: 2px 0px 2px 0px;
}

#dlg_add_client_errors {
	
	color:red;
	background-color:gray;
	font-weight: bold;
}

.contact_email {
	border: 1px;
	border-style: dashed;
	border-color: #dddddd;
	color:black;
	font-family:Verdana;
	font-size: 14px;
	background-color: gray;
	margin: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	display: inline-block;
	
}

 label, input { display:block; }
 
div#existing_clients table td, div#existing_clients table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; } 
div#clients table td, divclients table th { border: 1px solid #777; padding: .6em 10px; text-align: left; }
div#dlg_add_client input{
	
	width: 400px;
	
}

.btn_del_contact {
	width:20px;
	height:20px;
}

#work_start_time, #work_end_time{
	display:inline-block;
	width:40px;
	
	
}